<html>
<head>
<title>Profile</title>
<link rel="stylesheet" type="text/css" href="./styles.css">
</head>
<body>
<h2>Profile</h2>
<div class = 'individual_container'>
<div class='robot_info'>
<image class= 'pic' src='{{avatar}}'> 
    <div class= 'top_container'>
        <div class='name2'>{{name}}</div>
            {{#address}}{{#job}}
         <div class='location'>{{city}}, {{country}} | {{job}} | {{company}}</div>
         {{/job}}

         {{^job}}
         <div class = 'available'>{{city}}, {{country}} | <b style = 'color:red'> Available for Hire</b> | {{company}}</div>
         {{/job}}{{/address}}
         <div class='contact_info'>{{email}} | {{phone}}</div>
            </div>
             <div class='skills_container'>
             {{#university}}
            <div class='education'><b> Education </b> {{university}}</div>
            {{/university}}
            {{^university}}
            {{/university}}
            <div class='skills'><b> Skills </b> {{skills}}</div>
            </div>
     </div>
</body>
</html>